.secForm{
    background-image: url(../img/accent_bottom_wave_01.png);
    background-size: cover;
    background-position: top;
    position: relative;
    right: 0;
    left: 0;
    padding-top: $pd-4;
      
    .btContact{
        margin-top: $mg-4;
        padding: $pd-3;

        h3{
            @include styleText($fs-10,$fw-3,$color-dark-3)
        
        }

        .btContactRow {
            display: flex;
            -webkit-flex-wrap: wrap;
            -ms-flex-wrap: wrap;
            flex-wrap: wrap;
            padding-bottom: $pd-5;
            
            .btContactName {
                padding-right: $pd-5;
                position: relative;
                display: block;
            }

            .btContactEmail{
                position: relative;
            }

            .icon {
                position: absolute;
                top: 1em;
                left: 1em;
                line-height: $lh-2;
            }

            input {
                padding: $pd-5 $pd-5 $pd-5 $pd-6 !important;
                font-size: $fs-4 !important;
                height: $height-2;
                width: 70%;
                border-radius: 50px;
            
            }

            textarea {
                padding: $pd-5 $pd-5 $pd-5 $pd-6 !important;
                height: $height-1;
                line-height: $lh-2 +0.5;
                font-size: $fs-4 !important;
                width: 70%;
                border-radius: $bd-3;
            }
        }

        .btContactMessage {
            flex: 1 0 100%;
            max-width: 100%;
            position: relative;
        }

        select{
            width: 70%;
            border-radius: $pd-2+10;
        }

        .btContactButton {
            width: 60%;
        }

        i{
            color: $color-pink-1;
        }
    }
}